{% extends '::base.html.twig' %}


{% block iconoBanner %}users{% endblock %}
{% block tituloBanner %}Administración de Patologías{% endblock %}

{% block body -%}
    <h1>Patologia</h1>

    <table class="record_properties table table-condensed footable " data-filter="#filtro" data-page-size="20" data-page-navigation=".pagination">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ entity.categoria }}</td>
            </tr>
        </tbody>
    </table>
        <span>
            <a class="btn btn-default" href="{{ path('admin_patologia') }}">
                <i class="fa fa-arrow-left"></i> Volver
            </a>
        </span>
        <span>
            <a class="btn btn-success" href="{{ path('edit_patologia', { 'id': entity.idPatologia }) }}">
                <i class="fa fa-pencil"></i> Editar
            </a>
        </span>
        {#<a class="btn btn-danger" href="">#}
            {#<i class="fa fa-close"></i> Eliminar#}
        {#</a>#}
    {{ form(delete_form) }}

{% endblock %}
