<tr
        {{#ifCond estado '==' 'Activo'}}
            class="success"
        {{/ifCond}}

        {{#ifCond estado '==' 'Inactivo'}}
            class="danger"
        {{/ifCond}}

        {{#ifCond estado '==' 'Inactivo'}}
            class="danger"
        {{/ifCond}}

        data-idgabinete="{{ id_gabinete }}"
        data-estado="{{ estado }}"
>
<td class="tdcodigo" data-codigo="{{ codigo}}">{{ codigo}}</td>
<td class="tdlocalizacion" data-localizacion="{{ localizacion}}">{{ localizacion}}</td>
<td class="tdtipo" data-tipo="{{ tipo}}">{{ tipo}}</td>
<td class="tdacciones">
    <button class="btn btn-warning editarGabineteTabla" data-toggle="modal" data-target="#modalForm"><i class="fa fa-edit"></i></button>

    <span {{#ifCond estado '==' 'Activo'}} hidden="hidden" {{/ifCond}}>
        <button class="btn btn-success habilitarGabineteButton" data-habilitar="true" ><i class="fa fa-check"></i></button>
    </span>
    <span {{#ifCond estado '==' 'Inactivo'}} hidden="hidden" {{/ifCond}}>
        <button class="btn btn-danger habilitarGabineteButton" data-habilitar="false"><i class="fa fa-minus-circle"></i></button>
    </span>

</td>

</tr>