{% extends "::base.html.twig" %}

{% block title %}AppBundle:AdminUsuario:administrarUsuarios{% endblock %}



{% block iconoBanner %}users{% endblock %}
{% block tituloBanner %}Administración de Usuarios{% endblock %}

{% block body %}
<h1>TABLA USUARIOS</h1>

    <table class="table-usuarios table table-condensed  footable" data-filter="#filtro" data-page-size="20" data-page-navigation=".pagination">
        <thead>
        <th>username</th>
        <th>email</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Acciones</th>
        </thead>
        <tbody>

        {% for elemento in usuarios %}
            <tr
                    {% if elemento.Estado =="Activo" %}
                        class="success"
                    {% elseif elemento.Estado =="Inactivo" %}
                        class="danger"
                    {% elseif elemento.Estado == "Suspendido" %}
                        class ="warning"
                    {% endif %}
                    data-idUsuario="{{ elemento.id }}"
                    >
                <td class="tdcodigo">{{ elemento.username}}</td>
                <td class="tdlocalizacion">{{ elemento.email}}</td>
                <td class="tdtipo">{{ elemento.Nombre}}</td>
                <td class="tdtipo">{{ elemento.Apellidos}}</td>
                <td class="tdacciones">
                    <button class="btn btn-warning editarUsuarioTabla" ><i class="fa fa-edit"></i></button>

                <span {% if elemento.Estado =="Activo" %} hidden="hidden" {% endif %}>
                    <button class="btn btn-success habilitarUsuarioButton" data-habilitar="true"><i class="fa fa-check"></i></button>
                </span>
                <span {% if elemento.Estado =="Inactivo" %} hidden="hidden" {% endif %}>
                    <button class="btn btn-danger habilitarUsuarioButton" data-habilitar="false" ><i class="fa fa-minus-circle"></i></button>
                </span>
                <span>
                    <button class="btn btn-info detalleUsuarioButton" ><i class="fa fa-search"></i></button>
                </span>

                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
