{% extends "::base.html.twig" %}

{% block title %}AppBundle:AdminUsuario:administrarUsuarios{% endblock %}



{% block iconoBanner %}users{% endblock %}
{% block tituloBanner %}Administración de Usuarios{% endblock %}

{% block body %}

    <div class="">
        <a class="btn btn-success" href="{{ path('crear_usuario') }}">
            <i class="fa fa-plus"></i>  Nuevo Usuario</a>
    </div>

    <table class="table-usuarios table table-condensed  footable" data-filter="#filtro" data-page-size="20" data-page-navigation=".pagination">
        <thead>
        <th>idUsuario</th>
        <th>username</th>
        <th>email</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Estado</th>
        <th>Acciones</th>
        </thead>
        <tbody>

        {% for elemento in usuarios %}
            <tr
                    {% if elemento.Estado =="Activo" %}
                        class="success"
                    {% elseif elemento.Estado =="Inactivo" %}
                        class="danger"
                    {% elseif elemento.Estado == "Inhabilitado" %}
                        class ="warning"
                    {% endif %}
                    data-idUsuario="{{ elemento.id }}"
                    >
                <td class="tdidUser">{{ elemento.id}}</td>
                <td class="tdusername">{{ elemento.username}}</td>
                <td class="tdemail">{{ elemento.email}}</td>
                <td class="tdNombre">{{ elemento.Nombre}}</td>
                <td class="tdApellidos">{{ elemento.Apellidos}}</td>
                <td class="tdEstado">{{ elemento.Estado}}</td>
                <td class="tdacciones">
                    <a class="btn btn-warning editarUsuarioTabla" href="{{ path('editar_usuario', {'idUsuario': elemento.id }) }}"><i class="fa fa-edit"></i></a>
                <span {% if elemento.Estado =="Activo" %} hidden="hidden" {% endif %}>
                    <button class="btn btn-success habilitarUsuarioButton"
                            data-action="{{ path('habilitar_usuario') }}"
                            data-estado="{{ elemento.Estado}}"
                            data-idusuario="{{ elemento.id}}" >
                        <i class="fa fa-check"></i></button>
                </span>
                <span {% if elemento.Estado =="Inactivo" %} hidden="hidden" {% endif %}>
                    <button class="btn btn-danger habilitarUsuarioButton"
                            data-action="{{ path('habilitar_usuario') }}"
                            data-estado="{{ elemento.Estado}}"
                            data-idusuario="{{ elemento.id}}" >
                        <i class="fa fa-minus-circle"></i>
                    </button>
                </span>
                <span>
                    <a class="btn btn-info detalleUsuarioButton" href="{{ path('consultar_usuario',{idUsuario:elemento.id }) }}"><i class="fa fa-search"></i></a>
                </span>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/administracion/admon_usuarios.js') }}"></script>
    {% endblock %}