{% extends "::base.html.twig" %}

{% block title %}AppBundle:AdminUsuario:crearUsuario{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"  href="{{ asset('css/administracion/consultarUsuario.css') }}"/>
{% endblock %}


{% block iconoBanner %}users{% endblock %}
{% block tituloBanner %}Administración de Usuarios{% endblock %}


{% block body %}

    <form class="form-usuario" method="post">
        {{ form_errors(formCrear) }}
        {{ form_row(formCrear.nombre) }}
        {{ form_row(formCrear.apellidos) }}
        {{ form_row(formCrear.estado) }}
        {{ form_row(formCrear.telefono) }}

        <div class="">
            <button type="submit" class="btn btn-success submitCrearUsuario" data-action="{{ path('crear_usuario') }}">
                <i class="fa fa-plus"></i> Añadir</button>
            <a class="btn btn-default" href="{{ path('administrar_usuarios') }}">
                <i class="fa fa-undo"></i>  Cancelar</a>
        </div>
    </form>

{% endblock %}
