{% extends "::base.html.twig" %}

{% block title %}AppBundle:AdminUsuario:editarUsuario{% endblock %}

{% block iconoBanner %}users{% endblock %}
{% block tituloBanner %}Administración de Usuarios{% endblock %}

{% block body %}
<h1>Welcome to the AdminUsuario:editarUsuario page</h1>

    <form class="form-usuario" data-idusuario="{{ usuario.id }}">
        {{ form_errors(formEditar) }}
        {{ form_row(formEditar.nombre) }}
        {{ form_row(formEditar.apellidos) }}
        {{ form_row(formEditar.estado) }}
        {{ form_row(formEditar.telefono) }}

        <div class="">
            <button type="submit" class="btn btn-success submitEditarUsuario" data-method="PUT" data-action="{{ path('editar_usuario', {'idUsuario': usuario.id }) }}">
                <i class="fa fa-check"></i> Editar Usuario</button>
            <a class="btn btn-default" href="{{ path('administrar_usuarios') }}">
                <i class="fa fa-undo"></i>  Cancelar</a>
        </div>
    </form>
{% endblock %}
