{% extends "Usuario/plantillaPerfil.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/usuario/perfil/consultarPerfil.css') }}"/>
{% endblock %}

{% block contenidoPerfil %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <button type="submit" value="Upload Document" class="btn btn-primary" >
            <i class="fa fa-upload"></i>  Subir foto
        </button>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- no se porque no puedo usar Assetic otra vez.. -->
    <script src="{{ asset('js/usuario/perfil/consultarUsuario.js') }}"></script>
{% endblock %}
