{% extends "Usuario/plantillaPerfil.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/usuario/perfil/consultarPerfil.css') }}"/>
{% endblock %}

{% block contenidoPerfil %}

<div class="row">

    <!-- Informacion de Cuenta -->

        <div class="list-group ">
            <a href="#" class="list-group-item active  ">
                <i class="fa fa-lock fa-2x" ></i>  <span class="tituloPanel">Datos de cuenta</span>
            </a>

            <a href="#" class="list-group-item"  >
                <strong>Nombre de usuario :</strong> {{ app.user.username }}
            </a>
            <a href="#" class="list-group-item"  >
                <strong>Rol :</strong> <em>¡Por implementar!</em>
            </a>
            <a href="#" class="list-group-item"  >
                <strong>Email :</strong>  {{ app.user.email }}
            </a>

        </div>


    <!-- Fin informacion de Cuenta -->

    <!-- Datos Personales -->


        <div class="list-group ">
            <a href="#" class="list-group-item list-group-item-success active  ">
                <i class="fa fa-user fa-2x" ></i>  <span class="tituloPanel">Datos Personales</span>
                <span class="containerBotonEditarDatosPersonales">
                    <button class="btn btn-default botonTitle showFormEditar" data-informacion="DatosPersonales">
                        <i class="fa fa-pencil"></i> Editar
                    </button>
                </span>
                <span class="containerBotonAplicarCambiosDatosPersonales">
                    <button class="btn btn-default botonTitle ApplyFormEditar" form="formDatosPersonales" data-informacion="DatosPersonales">
                        <i class="fa fa-pencil"></i> Aplicar
                    </button>
                </span>
                <span class="containerBotonCancelarDatosPersonales" hidden="hidden">
                    <button class="btn btn-default botonTitle cancelFormEditar" data-informacion="DatosPersonales" >
                        <i class="fa fa-minus-circle"></i> Cancelar
                    </button>
                </span>
            </a>

            <span id="informacionDatosPersonales">
                <a href="#" class="list-group-item"  >
                    <strong>Nombre:</strong> {{ app.user.Nombre}}
                </a>
                <a href="#" class="list-group-item"  >
                    <strong>Apellidos :</strong> {{ app.user.Apellidos}}
                </a>
                <a href="#" class="list-group-item"  >
                    <strong>Telefono :</strong>  {{ app.user.Telefono }}
                </a>
            </span>
            <span id="formularioDatosPersonales" hidden="hidden">
                <form id="formDatosPersonales">
                    <a class="list-group-item"  >
                        <strong>Nombre:</strong>  <input value="{{ app.user.Nombre}}">
                    </a>
                    <a class="list-group-item"  >
                        <strong>Apellidos :</strong> <input value="{{ app.user.Apellidos}}">
                    </a>
                    <a class="list-group-item"  >
                        <strong>Telefono :</strong>  <input value="{{ app.user.Telefono }}">
                    </a>
                </form>
            </span>

        </div>

    <!-- Fin Datos Personales -->

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- no se porque no puedo usar Assetic otra vez.. -->
    <script src="{{ asset('js/usuario/perfil/consultarUsuario.js') }}"></script>
{% endblock %}
