{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/paciente/diagnostico.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/devbridge-autocomplete/content/styles.css') }}"/>
{% endblock %}

{% block iconoBanner %}heartbeat{% endblock %}
{% block title %}Podonet - Diagnóstico{% endblock %}

{% block body %}

    <button type="submit" class="btn btn-success botonTitle habilitarFormularioDiagnostico" >
        <i class="fa fa-pencil"></i> Editar
    </button>
    <span>
        <a class="btn btn-default botonTitle crearFormularioDiagnostico"
           href="{{ path('nuevo_diagnostico', {
               'idPaciente':  paciente.idPaciente,
               'idDiagnostico': diagnostico.idDiagnostico}) }}">
            <i class="fa fa-plus"></i> Nuevo
        </a>
    </span>
    <span>
        <a class="btn btn-primary"
           href="{{ path('admin_patologia', {
               'idPaciente':  paciente.idPaciente,
               'idDiagnostico': diagnostico.idDiagnostico}) }}"
           target="_blank">
            <i class="fa fa-book"></i> Gestionar Patologías
        </a>
    </span>
    <br><br>
    <form method="post" class="form-editar-diagnostico"
          data-paciente="{{ paciente.idPaciente }}"
          data-diagnostico="{{ diagnostico.idDiagnostico }}"
          data-action="{{ path('crear_diagnostico') }}">
        <div class="list-group bloqueDiagnosico">

            <a class="list-group-item active  ">
                <i class="fa fa-heartbeat fa-2x" ></i>  <span class="tituloPanel">Diagnóstico</span>
            </a>

            <div class="well containerFormularioDiagnostico">
                <div class="row">
                    <div class="col-lg-12">
                        <h5>Buscador de Patologías</h5>
                        <input type="text" name="paciente" class="form-control" id="patologiaBusqueda"/>
                    </div>

                </div>
                <div class="row">
                    <div class="containerBadgesPatologia col-lg-12">
                        {% for pat in patologias %}
                            <span class="badge" id="{{ pat.idPatologia }}">{{ pat.nombre }}</span>
                        {% endfor %}
                    </div>
                </div>
                <input type="text"
                       name="diagnostico"
                       class="form-control"
                       value="{{ diagnostico.Diagnostico }}"
                       placeholder="El paciente ..."
                       aria-describedby="basic-addon1"/>
            </div>

        </div>

        <div class="list-group bloqueTratamiento">
            <a class="list-group-item active  ">
                <i class="fa fa-medkit fa-2x" ></i>  <span class="tituloPanel">Tratamiento</span>
            </a>

            <div class="well containerFormularioTratamiento">
                <input type="text"
                       class="form-control"
                       name="tratamiento"
                       value="{{ diagnostico.Tratamiento }}"
                       placeholder="Debe tomar ..."
                       aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="list-group bloqueEvolucion">
            <a class="list-group-item active">
                <i class="fa fa-spinner fa-2x" ></i>  <span class="tituloPanel">Evolución</span>
            </a>

            <div class="well containerFormularioEvolucion">
                <input type="text"
                       class="form-control"
                       name="evolucion"
                       value="{{ diagnostico.Evolucion }}"
                       placeholder="La inflamación ..."
                       aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="botoneraFormulario">
            <button id="botonSubmitForm" type="submit" class="btn btn-success" aria-label="Left Align">
                <i class="fa fa-edit"></i> Guardar</button>
            <button id="botonClearForm" type="reset" class="btn btn-default" aria-label="Left Align">
                <i class="fa fa-eraser"></i> Limpiar</button>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/devbridge-autocomplete/dist/jquery.autocomplete.min.js') }}"></script>
    <script src="{{ asset('js/paciente/diagnostico.js') }}"></script>
{% endblock %}