{% extends "::base.html.twig" %}

{% block title %}Podonet - Página de paciente{% endblock %}

{% block tituloBanner %}Página de Paciente{% endblock %}
{% block iconoBanner %}user-md{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}

    {% include "Paciente/menupagpaciente.html.twig" with {"opcion":"inicio"} %}

    <br/>

        <div class="row">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success active">
                    <i class="fa fa-stethoscope fa-2x" ></i>  <span class="tituloPanel">Datos de Paciente</span>
                </a>

                <a href="#" class="list-group-item"  >
                    <strong>Nombre Completo :</strong> {{ paciente.Nombre }} {{ paciente.Apellidos }}
                </a>
                <a href="#" class="list-group-item"  >
                    <strong>Codigo :</strong> {{ paciente.Codigo }}
                </a>
            </div>
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}