{% extends "::base.html.twig" %}

{% block htmltag %}ng-app="myHojaGeneral"{% endblock %}

{% block title %}Podonet - Historia General{% endblock %}

{% block tituloBanner %}<i class="fa fa-2x fa-file"></i>   Historia General{% endblock %}
{% block iconoBanner %}heart{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/paciente/hojageneral/hojageneral.css') }}"/>
{% endblock %}

{% block body %}

    {% include "Paciente/menupagpaciente.html.twig" with {"opcion":"hojageneral"} %}

    <br/>

    <div class="containerMain" ng-controller="MainController as main">

        <!-- Seccion de Datos Personales -->
        {% include "HistoriaGeneral/consultaHGDatosPersonales.html.twig" %}

        <!-- Seccion de Datos Semipermanentes -->
        {% include "HistoriaGeneral/consultaHGDatosSemipermanentes.html.twig" %}

        <!-- Seccion de Datos Anamnesis -->
        <!-- {% include "HistoriaGeneral/consultaHGDatosAnamnesis.html.twig" %} -->
    </div>

    {% include "HistoriaGeneral/dialogos.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/angularjs/angular.min.js') }}"></script>

    <script>
        var paciente = {{ pacienteJSON | raw}} ;
        console.log(paciente);
    </script>

    <script src="{{ asset('js/paciente/hojageneral/datossemipermanentes_ang.js') }}"></script>
    <script src="{{ asset('js/paciente/hojageneral/datospersonales_ang.js') }}"></script>
    <script src="{{ asset('js/paciente/hojageneral/hojageneral_ang.js') }}"></script>

{% endblock %}
