<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-default toolimage botonUndo" data-toggle="tooltip" data-placement="top" title="Deshacer"><i class="fa fa-undo"></i></button>
        <button type="button" class="btn btn-default toolimage botonRedo" data-toggle="tooltip" data-placement="top" title="Rehacer"><i class="fa fa-repeat"></i></button>
        <button type="button" class="btn btn-default toolimage botonClear" data-toggle="tooltip" data-placement="top" title="Limpiar"><i class="fa fa-eraser"></i></button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <canvas id="canvas_{{ident}}" border="5" width="{{ancho}}" height="{{alto}}" data-namedata="{{namedata}}" style="cursor: crosshair; background:url('/img/hojageneral/{{namedata}}.png') ;  background-repeat: no-repeat;">Your browser does not support HTML5 Canvas.</canvas>
        <input type="hidden" class="hidden_{{namedata}}" name="{{namedata}}"/>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{#each colores }}
            <button  type="button" canvas="{{ident}}" class="btn botoncolor"  href=".colors_sketch" height="20" width="20" style="background:{{color}} ;" data-color="{{color}}" data-toggle="tooltip" data-placement="bottom" title="{{title}}"><i class="fa fa-eyedropper"></i></button>
        {{/each}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <input type="range" class="tamanoPuntero" canvas="{{ident}}" max="10" min="1"/>
    </div>
</div>