<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        "assets/vendor/bootstrap/dist/css/bootstrap.min.css"
        'http://fonts.googleapis.com/css?family=Economica|Montez'

        filter='cssrewrite' output='css/compiled/all.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>



{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>


{% block javascripts %}
    {% javascripts
    "assets/vendor/jquery/dist/jquery.min.js"
    "assets/vendor/bootstrap/dist/js/bootstrap.min.js"
    output='js/compiled/all.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
